PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000

DB_NAME=test_dr
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=my_super_secret_key
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=my_refresh_secret_key
REFRESH_TOKEN_EXPIRES_IN=30d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM_NAME=MyApp Support
MAIL_FROM_ADDRESS=your_email@gmail.com

RAZORPAY_KEY_ID=rzp_test_Kq3rnHoLZtR3aE
RAZORPAY_SECRET=ohTyNjTzPzFgc70ArerYh2oc
RAZORPAY_WEBHOOK_SECRET =drvenkyswebhook

SHIPROCKET_EMAIL=drvenkyspetstore@gmail.com
SHIPROCKET_PASSWORD=BXbhP@tPRnCa7Hn4
SHIPROCKET_BASE_URL=https://apiv2.shiprocket.in/v1/external